@media(max-width: 1439px){
    .header__content{
        padding-top: 12rem;
    }
}
@media(max-width: 1024px){
    .header__image
    {
        top: 10%;
        max-width: 40%;
    }
    .about__item{
        width: 49.6%;
    }
}
@media(max-width: 767px){
    /*header*/
    .header__image,
    .menu{
        display: none;
    }
    .menu__collapse{
        display: block;
    }
    .header__top{
        justify-content: space-between;
    }
    .header__content{
        padding-top: 7rem;
        margin-left: 0;
    }
    .header__content-title {
        font-size: 4rem;
      }
      .header__content-cta {
        align-items: flex-start;
        flex-direction: column;
      }
      .header__content-cta > a:first-child {
        margin-right: 0;
        margin-bottom: 2.5rem;
      }
      /*About*/
      .heading{margin-left: 0;}
      .about__inner{
          padding-top: 4rem;
          padding-bottom: 4rem;
      }
      .about__content{
          max-width: 72%;
      }

      /*About images*/
      .about__item{
          width: 100%%;
      }
}